In [8]:
#import dependencies
import os
import csv
import pandas as pd

from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

# Import modules to declare columns and column data types
from sqlalchemy import Column, Integer, String, Float, Date

In [9]:
# create the measurement class
class Measurement(Base):
    __tablename__ = 'Measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Date)
    prcp = Column(Float)
    tobs = Column(Integer)
    
# create the station class
class Station(Base):
    __tablename__ = 'Stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(String(255))

In [10]:
# Create a connection to a SQLite database
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()
Base.metadata.create_all(conn)

session = Session(bind=engine)

In [13]:
#import files into a datafram
measurements =('clean_hawaii_measurements.csv')

measurements_df = pd.read_csv(measurements, encoding = "ISO-8859-1")

#measurements_df = measurements_df.drop('Unnamed: 0', axis=1, inplace = True)
measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06  0.00    73

In [15]:
#import files into a datafram
stations =('clean_hawaii_stations.csv')

stations_df = pd.read_csv(stations, encoding = "ISO-8859-1") 

stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [16]:
#import dataframes into SQl database
measurements_df.to_sql('Measurements', conn, flavor='sqlite', schema=None, if_exists='append', index=False)

C:\Users\mikey\Anaconda3\lib\site-packages\pandas\io\sql.py:527: FutureWarning: the 'flavor' parameter is deprecated and will be removed in a future version, as 'sqlite' is the only supported option when SQLAlchemy is not installed.
  _validate_flavor_parameter(flavor)

In [19]:
#import dataframes into SQl database
stations_df.to_sql('Stations', conn, flavor='sqlite', schema=None, if_exists='append', index=False)

C:\Users\mikey\Anaconda3\lib\site-packages\pandas\io\sql.py:527: FutureWarning: the 'flavor' parameter is deprecated and will be removed in a future version, as 'sqlite' is the only supported option when SQLAlchemy is not installed.
  _validate_flavor_parameter(flavor)